
/*## GRID ################################*/
.header { grid-area: header; background-color: #111; }
.menu { grid-area: menu; background-color: #222;}
.main { grid-area: main; background-color: #111;}

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'menu menu menu menu menu menu'
    'main main main main main main';
  grid-gap: 0px;
  padding: 0px;
}

.grid-container > div {
  padding: 0px 0;
}

/*## Basic html tags ################################*/
* {
  box-sizing: border-box;
  margin: 0;
}
body {
  background-color: #111;
  color: white;
}
input,
.btn,
button {
  padding: 12px;
  border: none;
  text-decoration: none; /* remove underline from anchors */
  display: block;
  width: 100%;
}

button, input[type=submit] {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}
button:hover, input[type=submit]:hover {
  background-color: #45a049;
}

a {
  color:white;
  text-decoration: none;
}

h1 {
margin: 0;
display: inline-block;
vertical-align:middle;
}

h2 {
margin: 5px;
}

img {
    margin: 5px;
    vertical-align:middle;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align:left;
}

li {
    background-color: #333;
}

li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: purple;
}

#mainnav li {
  float: left;
  background-color: #222;
}

#userlist li, #characterlist li{
    margin:2px;
}

/*## Dropdown Button ################################*/
.dropbtn {
 background-color: purple;
 color: white;
 padding: 14px 16px;
 margin: 0px;
}

.dropdown {
 float: right;
}

.dropdown-content {
 display: none;
 position: absolute;
 right: 0;
 background-color: #333;
 border: 1px solid #222;
 min-width: 160px;
 z-index: 1;
}

.dropdown-content a {
 color: white;
 padding: 14px 16px;
 text-decoration: none;
 display: block;
 border: 1px solid #222;
}

.dropdown-content a:hover {background-color: purple;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: darkmagenta;}
